{% extends 'model/model1.html' %}
{% block model1 %}

<p style="text-align: center">欢迎进入管理员界面</p>
    <ul>
        <li><a href="/engineer/add_admin">增添管理员信息功能</a></li>
        <li><a href="/engineer/show_admin">查询管理员信息功能</a></li>
        <span></span><br>
        <li><a href="/engineer/add_pic">增添负责人信息功能</a></li>
        <li><a href="/engineer/show_pic">查询负责人信息功能</a></li>
        <span></span><br>
        <li><a href="/engineer/add_safeuser">增添安全员信息功能</a></li>
        <li><a href="/engineer/show_safeuser">查询安全员信息功能</a></li>
        <span></span><br>
        <li><a href="/engineer/add_work">增添工地信息功能</a></li>
        <li><a href="/engineer/show_work">查询工地信息功能</a></li>
        <span></span><br>
        <li><a href="/engineer/show_notifyinfo">查看违规信息</a></li>
    </ul>
{% endblock %}
