{% extends 'model/model1.html' %}
{% block model1 %}
    <form action="" method="post" class="main_form">{% csrf_token %}
        <div class="text_info clearfix">
            <span>用户名:</span>
        </div>
        <div class="input_info">
            <input type="text" name="sname" maxlength="20" required id="id_sname">
            <span class="required">*</span>
            <div class="validate_msg_long">20长度以内的汉字、字母、数字的组合</div>
        </div>
        <div class="text_info clearfix">
            <span>密码:</span>
        </div>
        <div class="input_info">
            <input type="text" name="spassword" maxlength="16" minlength="6" required id="id_spassword"
            <span class="required">*</span>
            <div class="validate_msg_long">20长度以内的汉字、字母、数字的组合</div>
        </div>
        <div class="text_info clearfix">
            <span>所属单位:</span>
        </div>
        <div class="input_info">
            <input type="text" name="sinstitute" maxlength="50" required id="id_sinstitute">
            <span class="required">*</span>
            <div class="validate_msg_long">20长度以内的汉字、字母、数字的组合</div>
        </div>
        <div class="text_info clearfix">
            <span>所属负责人:</span>
        </div>
        <div class="input_info">
            <select name="p">
            <option value="" selected="selected">------</option>
                {% for i in picList %}
                    <option value="{{ i.id }}">{{ i.pname }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="button_info clearfix">
            <input type="submit" value="添加" class="btn_save">
    <input type="reset" value="重置" class="btn_save">
        </div>

    </form>

{% endblock %}